<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a asp-controller="Home" asp-action="Index" asp-fragment="hero">PMBI</a></h1>


        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto active" asp-controller="Home" asp-action="Index"
                        asp-fragment="hero">Home</a></li>
                <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index" asp-fragment="about">About</a>
                </li>
                <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index"
                        asp-fragment="services">Services</a></li>
                <li><a class="nav-link scrollto " asp-controller="Home" asp-action="Index"
                        asp-fragment="portfolio">Portfolio</a></li>
                <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Index"
                        asp-fragment="footer">Contact</a></li>
                <li><a class="nav-link scrollto" asp-controller="Home" asp-action="Login">Login</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

        <div class="social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        </div>

    </div>
</header>