@{

    ViewData["Title"] = "Home Page";
}

<partial name="_notification" />
<div class="container homeContainer">
    <div class="homeImageContainer">

        <img src="~/images/home/bi.jpg" />
    </div>
    <div class="homeImageContainersecond">
        <img height="200px" src="~/images/home/maxplanck.jpg" />
    </div>
</div>
</div>