@{
    ViewData["Title"] = "Service";
}
<h1>Service
</h1>
<div class="d-flex flex-wrap justify-content-evenly alig-item-center">


    <div class="card bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="~/images/service/service.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Check our Service</a>
        </div>
    </div>
    <div class="card bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="~/images/service/service.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Check our Service</a>
        </div>
    </div>
    <div class="card bg-dark" style="width: 18rem;">
        <img class="card-img-top" src="~/images/service/service.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Check our Service</a>
        </div>
    </div>


</div>