<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom  bg-light ">
        PMBI
    </div>
    <div class="list-group list-group-flush my-3">
        <a asp-controller="admin" asp-action="Dashboard"
            class="list-group-item list-group-item-action bg-transparenet second-text">

            <i class="fas fa-tachometer-alt me-2"></i>Dashboard</a>
        <a asp-controller="admin" asp-action="ProductDetail"
            class="list-group-item list-group-item-action bg-transparenet second-text">

            <i class="fas fa-cubes me-2"></i>Product Details</a>
        <a asp-controller="admin" asp-action="Allergense"
            class="list-group-item list-group-item-action bg-transparenet second-text">

            <i class="fas fa-hand-dots me-2"></i>Allergens</a>
        <a asp-controller="admin" asp-action="FoodEnergy"
            class="list-group-item list-group-item-action bg-transparenet second-text">

            <i class="fas fa-bowl-rice me-2"></i>Food Energy</a>
        <a asp-controller="admin" asp-action="SalesAnalyis"
            class="list-group-item list-group-item-action bg-transparenet second-text">

            <i class="fas fa-chart-line me-2"></i>Sales Analysis</a>
        <a asp-controller="admin" asp-action="ProductSetting"
            class="list-group-item list-group-item-action bg-transparenet second-text">

            <i class="fas fa-sliders me-2"></i>Product Settings</a>
        <a asp-controller="admin" asp-action="RecipeSetting"
            class="list-group-item list-group-item-action bg-transparenet second-text">

            <i class="fas fa-right-left  me-2"></i>Recipe Setting</a>
        <a asp-controller="admin" asp-action="Logout"
            class="list-group-item list-group-item-action bg-transparenet text-danger">

            <i class="fas fa-right-left text-danger me-2"></i>Logout</a>
    </div>
</div>
